
<div class="container">
  <div class="row justify-content-center d-flex flex-row">
    <div *ngFor="let ropa of clothesList" class="card text-center p-1 mb-1 bg-dark" style="width: 16rem;">
      <img class="card-img-top" [src]="ropa.image" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ ropa.name }}</h5>
        <p class="card-text">{{ ropa.size }}</p>
        <p class="card-text">${{ ropa.price }}</p>
        <p class="card-text">{{ ropa.available ? 'Available' : 'Out of stock' }}</p>
        <a href="#" class="btn btn-warning">Buy</a>
      </div>
    </div>
  </div>
</div>


<script src="sweetalert2.all.min.js"></script>
<script src="clothes.component.ts"></script>