
<!-- <ul class="nav flex-column nav-link fs-5 text-uppercase">
    <li class="nav-item">
        <a class="nav-link active" href="https://www.tasteatlas.com/images/dishes/08648360db374a7e939a0e5f19d8a7bd.jpg">Navbar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.crunchyroll.com/imgsrv/display/thumbnail/1200x675/catalog/crunchyroll/a249096c7812deb8c3c2c907173f3774.jpe">???</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
    <form class="my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger my-2 my-sm-9" type="submit">Search</button>
    </form>
</ul>
 -->
 <nav class="nav nav-pills nav-justified flex-column text-uppercase">
    <a class="nav-item nav-link active" href="#">1</a>
    <a class="nav-item nav-link" href="#">2</a>
    <a class="nav-item nav-link" href="#">3</a>
    <a class="nav-item nav-link disabled" href="#">Disabled</a>
  </nav>

